@model AdmNerdGo.Models.Loja

@{
    ViewData["Title"] = "Create";
}

<div class="titulo-ciar-loja">
    <h1>Criar loja</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label">Nome loja</label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <input asp-for="Logo" type="file" id="Logo" class="form-control" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Criar" class="botao-salvar-loja tn btn-primary" />
            </div>
        </form>
    </div>
</div>