@model AdmNerdGo.Models.ViewModels.CompareFormViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="titulo-editar-comparacao">
    <h4>Editar comparação</h4>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Compare.Id" hidden class="control-label"></label>
                <input asp-for="Compare.Id" hidden class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Compare.Preco" class="control-label"></label>
                <input asp-for="Compare.Preco" class="form-control" />
                <span asp-validation-for="Compare.Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Compare.Parcelamento" class="control-label"></label>
                <input asp-for="Compare.Parcelamento" class="form-control" />
                <span asp-validation-for="Compare.Parcelamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Compare.Link" class="control-label"></label>
                <input asp-for="Compare.Link" class="form-control" />
                <span asp-validation-for="Compare.Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Compare.Loja" class="control-label"></label>
                    <select asp-for="Compare.LojaId" asp-items="@(new SelectList(Model.Lojas,"Id","Nome"))" class="form-control"></select>
                </div>
            </div>
            <div class="form-group">
                @*<label asp-for="Compare.Link" class="control-label"></label>*@
                <input asp-for="Compare.ProdutoId" hidden class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Editar" class="botao-editar btn btn-primary" />
            </div>

            <div class="botao-voltar-comparacao">
                <a asp-action="Comparacao">Voltar</a>
            </div>
        </form>
    </div>
</div>


