@model AdmNerdGo.Models.ViewModels.ProdutoFormViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Produto.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Produto.Descricao" class="control-label"></label>
                <input asp-for="Produto.Descricao" class="form-control" />
                <span asp-validation-for="Produto.Descricao" class="text-danger"></span>
            </div>

            @{
                var base64 = Convert.ToBase64String(Model.Imagem);
                var imgSrc = string.Format("data:image/gif;base64,{0}", base64);
            }

            <div class="imagem-produto">
                <img src='@imgSrc' style="max-width:200px; max-height:200px">
            </div>

            <div class="form-group">
                <input hidden asp-for="Produto.Imagem" value="@base64" id="image" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Produto.CategoriaId" class="control-label"></label>
                <select asp-for="Produto.CategoriaId" asp-items="@(new SelectList(Model.Categorias,"Id","Descricao"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

