@charset "utf-8";

@fonte-face {
	font-family: 'MuseoSans-Bold';
	src: url(../fonte/MuseoSansForDell-Bold.ttf);
	font-size: 1em;
} 

@fonte-face {
	font-family: 'MuseoSans-Regular';
	src: url(../fonte/MuseoSansForDell-Regular.ttf);
	font-size: 1em;
}

/*fundo*/
body {
	overflow-x: hidden;
}

#fundo {
	background-color: #efeeee;
}

/*cabeçalho*/
/*menu fixo*/
.menu-fixo {
    position: fixed;
    top: 0;
    z-index: 99;
}

#menu-fixo {
	position: fixed;
	width: 100%;
	height: 150px;
	z-index: 9999;
	background-color: #fd9714;
	display: inline-block;
}

#logotipo {
	position: absolute;
	margin-top: -5px;

}

#search {
	position: relative;
	display: block;
	margin-top: 50px;
	margin-left: 80px;
}

#search input {
	float: left;
	width: 600px;
	height: 50px;
	padding: 15px;
	border-radius: 7px;
	box-shadow: 1px 1px 3px black;
	font-family: 'MuseoSans-Regular', sans-serif;
	font-size: 14pt;
}

#search button {
	position: relative;
    float: right;
    margin-right: 57px;
    margin-top: -42px;
    background-color: transparent;
    border: none; 
}

/*nav menu*/
.menu {
	width: 100%;
 	height: 100px;
 	background-color: #fd9714;
 	display: flex;
 	margin-top: 150px;
}

.menu ul {
	margin-left: 29px;
	margin-top: 0px;
	display: inline-block;
	position: relative;
}

.menu li {
	font-family: 'MuseoSans-Bold', sans-serif;
	font-size: 20px;
	text-decoration: none;
	display: inline-block;
	padding: 0px 20px;
	margin-left: 100px;
	text-align: center;
}

.menu li a {
	color: #ffffff;
}

.menu li a:hover {
	text-decoration: underline;
	transition: 1s;
}

#cole a:hover {
	color: #f0412e;
}

#jogo a:hover {
	color: #6fbe4d;
}

#livro a:hover {
	color: #1cacdb;
}

#vest a:hover {
	color: #f8ef04;
}

/*caminhos links*/
.caminho-paginas {
	margin-top: 20px;
}

.caminho-paginas,
.caminho-paginas a {
	font-family: 'MuseoSans-Bold', sans-serif;
	color: #6d6d6d;
	font-weight: bold;
}

.caminho-paginas a:hover {
	text-decoration: underline;
	color: #6d6d6d;
}

/*corpo*/
#corpo {
	display: block;
	align-content: center;
	width: 1250px;
	background-color: #ffffff;
	margin-top: 20px;
	box-shadow: 1px 1px 4px #606060;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #fd9714;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50px
}

    #myBtn:hover {
        background-color: #06003f;
    }

/*rodapé*/
footer {
	margin-top: 20px;
	width: 100%;
}

footer .row {
	margin-top: 20px;
}

footer .row-laranja {
	color: #ffffff;
	height: 215px;
	background-color: #fd9714;
}

.infos-rodape {
	margin-left: 112px;
}

.col-empresas p,
.col-sobre-contato p {
	color: #ffffff;
	text-decoration: none;
}

.col-sociais {
	display: block;
}

.col-sociais ul {
	margin-top: 5px;
	margin-left: -44px;
}

.col-sociais li{
	display: inline-block;
	text-decoration: none;
	margin-left: 5px;
}

.col-empresas {
	margin-top: -7px;
	margin-left: -27px;
	border-radius: 5px;
	padding: 10px;
}

footer .row-preto {
	margin-top: -20px;
	height: 50px;
	background-color: #303030;
}

.row-preto p {
	margin-top: 17px;
	color: #606060;
	text-align: center;
}


/*configuração HOME*/
/*slide/carrossel*/

/*area destaques*/
#produtos-destaques h2 {
	font-family: 'MuseoSans-Bold', sans-serif;
	font-size: 26pt;
	font-weight: bold;
	text-align: center;
	color: #06033e;
	margin-top: 50px;
}

#produtos-destaques {
	position: relative;
	display: inline-block;
	margin-top: 20px;
	margin-left: 20px;
}

#produto-destaque a {
	display: inline-block;
	font-family: 'MuseoSans-Regular', sans-serif;
	text-decoration: none;
	text-align: center;
	float: left;
	background-color: #ffffff;
	margin-top: 10px;
	margin-left: 5px;
}

#produto-destaque a:hover {
	text-decoration: none;
	border-radius: 5px;
	border: 2px solid #efeeee;
	box-shadow: 1px 1px 6px #6d6d6d;
	transition: 1s;
}

.titulo-produto {
	text-align: justify;
	font-size: 12pt;
	font-weight: bold;
	color: #6d6d6d;
	margin: 10px;
	border-top: 1px solid #efeeee;
}

.preco {
	text-align: justify;
	font-size: 10pt;
	color: #6d6d6d;
	margin: 10px;
}

.preco span {
	color: #22b14c; 
	font-weight: bold;
}

.compare {
	top: 50%;
	left: 50%;
	margin: 10px;
	font-size: 12px;
	border-radius: 5px;
}

.compare p{
	padding-top: 10px;
	font-weight: bold;
}

#compare-colecionaveis {
	color: #f0412e;
	border: 2px solid #f0412e;
}

#compare-jogos {
	color: #6fbe4d;
	border: 2px solid #6fbe4d;
}

#compare-livros {
	color: #1cacdb;
	border: 2px solid #1cacdb;
}

#compare-vestuario {
	color: #f8ef04;
	border: 2px solid #f8ef04;
}

/*propaganda*/
#banner img {
	margin-top: 100px;
	margin-left: 146px;
	margin-bottom: 20px;
	box-shadow: 1px 1px 4px #606060;
	display: block;
}


/*///////////////////PAGINA COMPARAÇÃO////////////////////*/
/*produto selecionado*/
.produto-selecionado {
    width: 100%;
    text-align: center;
}

.figure-produto {
    float: left;
    width: 35%;
    margin-top: 2.5%;
}

    .figure-produto img {
        width: 100%;
        margin-top: 21%;
        min-width: 82px;
        max-width: 82px;
        min-height: 98px;
        max-height: 98px;
    }

.detalhes {
    float: left;
    width: 65%;
}

.produto-selecionado h2 {
    font-size: 0.8em;
    line-height: 1em;
    text-align: justify;
    color: #606060;
    font-weight: bold;
    margin-top: 5%;
    font-family: MuseoSans-Bold, sans-serif;
}

.menor-maior-preco {
    width: 100%;
    float: left;
    font-size: 0.6em;
    color: #606060;
    font-weight: bold;
    border: 2px solid #efeeee;
    padding: 5% 0;
    margin-top: 5%;
}

    .menor-maior-preco ul {
        padding: 0% 10%;
    }

    .menor-maior-preco li {
        float: left;
        line-height: 0.6em;
    }

.menor-preco span {
    color: #22b14c;
    font-weight: bold;
}

.maior-preco {
    margin-left: 7.7%;
    font-weight: bold;
}

    .maior-preco span {
        color: #f0412e;
        font-weight: bold;
    }

.economize {
    background-color: #06033e;
    color: #fff;
    padding: 7% 31%;
    margin-left: 0%;
    margin-top: 9%;
    font-weight: bold;
}

/*CORPO LOJAS*/
.corpo-lojas {
    margin: 0% 5% 5%;
}

.ordenagem-lojas {
    width: 100%;
    text-align: center;
    font-size: 12px;
}

.lojas-encontradas {
    width: 47%;
    text-align: left;
    float: left;
    color: #606060;
    font-size: 1em;
}

    .lojas-encontradas span {
        color: #06033e;
        font-weight: bold;
    }

.botao-ordenagem {
    width: 33%;
}

.lista-lojas {
    width: 100%;
    padding: 15% 0 0 0;
}

    .lista-lojas ul {
        float: left;
        display: block;
        width: 100%;
        border-top: 2px solid #efeeee;
        font-size: 0.8em;
        line-height: 1em;
        padding: 2% 0 0 0;
        margin-bottom: 5px;
    }

    .lista-lojas a {
        width: 100%;
    }

    .lista-lojas li {
        float: left;
        text-align: center;
    }

    .lista-lojas p {
        margin-bottom: 0;
    }

.preco-loja {
    width: 48%;
    line-height: 1.5em;
    padding: 2%;
    color: #606060;
}

    .preco-loja span, .parcela-loja span {
        color: #22b14c;
        font-weight: bold;
    }

.parcela-loja {
    width: 48%;
    line-height: 1.6em;
    padding: 2%;
}

.ir-loja {
    width: 100%;
    padding: 5% 10%;
    color: #fff;
    background-color: #06033e;
    font-weight: bold;
}

/*-------------------MOBILE FIRST---------------------------------*/
/*SMARTPHONES*/
@media screen and (min-width: 410px) {
    /*PRODUTOS*/
    /*caminho paginas link*/
    .caminho-paginas {
        padding: 200px 0 0 44px;
    }

    /*corpo*/
    .corpo {
        margin: 48% 5% 5%
    }

    /*COMPARAÇÃO*/
    /*produto selecionado*/
    .figure-produto img {
        margin-top: 0%;
        min-width: 104px;
        max-width: 104px;
        min-height: 123px;
        max-height: 123px;
        margin-bottom: 8%;
    }

    .menor-maior-preco ul {
        padding: 4% 3%;
    }

    .economize {
        padding: 5% 5%;
        margin-left: 2%;
        margin-top: -5%;
    }

    /*comparaçao lojas*/
    .lista-lojas ul {
        text-align: center;
    }

    .preco-loja {
        width: 30%;
        margin-left: -1%;
    }

    .parcela-loja {
        width: 30%;
        margin-right: -2%;
        margin-left: -30%;
        margin-top: 16%;
    }

    .ir-loja {
        width: 35%;
        padding: 5% 10%;
        margin-top: 9%;
    }
}

/*TABLETS*/
@media screen and (min-width: 768px) {
    /*PRODUTOS*/
    /*caminho paginas link*/
    .caminho-paginas {
        padding: 220px 0 0 45px;
    }

        .caminho-paginas, .caminho-paginas a {
            font-size: 1.1em;
        }

    /*corpo*/
    .corpo {
        margin: 29% 5% 5%;
    }

    /*COMPARAÇÃO*/
    /*produto selecionado*/
    .figure-produto {
        margin-top: 0.5%;
        margin-bottom: 1%;
    }

        .figure-produto img {
            margin-top: 0%;
            min-width: 194px;
            max-width: 194px;
            min-height: 215px;
            max-height: 215px;
            margin-bottom: 4%;
        }

    .produto-selecionado h2 {
        font-size: 1.5em;
    }

    .menor-maior-preco {
        font-size: 1em;
        margin-top: 10%;
    }

        .menor-maior-preco ul {
            padding: 1% 7%;
        }

        .menor-maior-preco li {
            margin-bottom: -9px;
        }

    .economize {
        margin-left: 5%;
    }

    /*comparaçao lojas*/
    .lojas-encontradas {
        font-size: 1.5em;
    }

    .lista-lojas {
        padding: 10% 0 0 0;
    }

        .lista-lojas ul {
            font-size: 1.2em;
        }

    /* .imagem-loja {
        margin-top: 5%;
    }

        .imagem-loja img {
            max-width: 160px;
            max-height: 100px;
            min-width: 130px;
            min-height: 60px;
        } */

    .parcela-loja {
        margin-top: 12%;
    }

    .ir-loja {
        padding: 4% 6%;
        margin-top: 6%;
    }
}

/*TABLETS E DESKTOPS*/
@media screen and (min-width: 960px) {
    /*PRODUTOS*/
    /*caminho paginas link*/
    .caminho-paginas {
        padding: 245px 0 0 60px;
    }

    .corpo {
        margin: 26% 5% 2%
    }

    /*COMPARAÇÃO*/
    /*produto selecionado*/
    .figure-produto img {
        margin-top: 0%;
        min-width: 275px;
        max-width: 275px;
        min-height: 297px;
        max-height: 297px;
        margin-bottom: 1%;
    }

    .produto-selecionado h2 {
        font-size: 1.7em;
    }

    .menor-maior-preco {
        font-size: 1.2em;
        margin-top: 15%;
    }

        .menor-maior-preco ul {
            padding: 2% 9.6%;
        }

    .economize {
        margin-left: 4.2%;
    }

    /*comparaçao lojas*/
    .lista-lojas {
        padding: 5% 0 0 0;
    }

        .lista-lojas ul {
            padding: 3% 0 0 0;
            margin-bottom: 30px;
        }

    /*  .imagem-loja {
        width: 25%;
        margin-top: 0;
    } */

    .preco-loja {
        width: 23%;
        margin-left: 0%;
    }

    .parcela-loja {
        width: 23%;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
    }

    .ir-loja {
        width: 25%;
        padding: 3.5% 9%;
        margin-top: 0;
        margin-left: 2%;
    }
}

/*LARGE DEVICES - WIDE SCREEENS*/
@media screen and (min-width: 1280px) {
    /*PRODUTOS*/
    /*caminho paginas link*/
    .caminho-paginas {
        padding: 12px 0 0 80px;
        font-size: 0.9em;
    }

    .corpo {
        margin: 2% 5% 2%;
    }

    /*COMPARAÇÃO*/
    /*produto selecionado*/
    .figure-produto {
        width: 25%;
    }

        .figure-produto img {
            margin-top: 0%;
            min-width: 306px;
            max-width: 306px;
            min-height: 330px;
            max-height: 330px;
            margin-bottom: 1%;
        }

    .detalhes {
        width: 45%;
        margin-left: 5%;
    }

    .produto-selecionado h2 {
        font-size: 1.5em;
    }

    .menor-maior-preco {
        width: 95%;
        font-size: 1em;
        margin-left: 2%;
    }

    .economize {
        margin-left: 8.8%;
    }

    /*comparação lojas*/
    .lista-lojas {
        padding: 3% 0 0 0;
    }

        .lista-lojas ul {
            font-size: 1em;
            padding: 1% 0 0 0;
            margin-bottom: 0%;
        }

    .perco-loja {
        width: 20%;
    }

    .parcela-loja {
        width: 35%;
    }

    .ir-loja {
        padding: 1% 4%;
        margin-top: 2.4%;
        width: 15%;
    }
}
