@model IEnumerable<AdmNerdGo.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<div class="titulo-cat-sub">
    <h1>Categorias e Subcategorias</h1>
</div>

<div class="titulo-categoria">
    <h4>Categoria</h4>
</div>
<p class="botao-criar-cat">
    <a asp-action="Create">Criar categoria</a>
</p>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>

                <td class="editar-categoria">
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="titulo-subcategoria">
    <h4>Subcategoria</h4>
</div>

<div class="selecao-categorias form-group">
    <label for="exampleFormControlSelect1">Selecionar categoria</label>
    <select class="form-control" id="exampleFormControlSelect1">
        <option>Colecionaveis</option>
        <option>Decoração</option>
        <option>Games</option>
        <option>Livros</option>
        <option>Moda</option>
    </select>
</div>

<p class="botao-criar-sub">
    <a asp-action="Create">Criar Subcategoria</a>
</p>

<table class="lista-subcategorias table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>

                <td class="editar-categoria">
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

